.titulo {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
.products-container {
  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
  gap: 2rem;

  justify-items: center;

  padding: 2rem;
}
.products-container::-webkit-scrollbar {
  width: 8px;
}